{% extends 'layout.html.twig' %}

{% block content %}
<div id="windy"></div>
{#    {{ dump(collection) }}#}
{#    <h1>{{ object.department }}</h1>#}
{#    <ul>#}
{#        <li>Role : {{ object.constituents.0.role }}</li>#}
{#        <li>Nom : {{ object.constituents.0.name }}</li>#}
{#    </ul>#}
{#    <img src="{{ object.primaryImage }}" />#}
{#    {% for webcam in webcams %}#}
{#        {{ webcam.title }}<br/>#}
{#    {% endfor %}#}

{% endblock %}
