{% extends 'layout.html.twig' %}
{% block title %} De mon Canapé au reste du monde {% endblock %}
{% block content %}
<div class="container-fluid as_home">
    <div class="container">
        <h3>Paris, une source d'inspiration</h3>
        <div class="row as_home_row"" >
            <div class="col-md-1"></div>
            <div class="col-md-10 as_video">
                <h5>La vue de Paris </h5>
                <a name="windy-webcam-timelapse-player" data-id="1549489174" data-play="day" href="https://windy.com/webcams/1549489174" target="_blank">Paris: Arc de Triomphe - Eiffel Tower</a><script async type="text/javascript" src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>
                <h5>Ses oeuvres</h5>
            </div>
            <div class="col-md-1"></div>
        <div class="col-md-3 as_carte1">
            <h5>Tour Eiffel, André Kertész</h5>
            <img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/265243/597505/restricted" width="100%">
        </div>
            <div class="col-md-3 as_carte2">
                <h5>Le sofa, Henri de Toulouse-Lautrec</h5>
                <img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/437837/796158/main-image" width="100%">
            </div>
            <div class="col-md-3 as_carte3">
                <h5>Young Woman Seated on a Sofa, Berthe Morisot</h5>
                <img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/437160/794820/restricted" width="100%">
            </div>
            <div class="col-md-3 as_carte4">
                <h5>Boudoir de l'Hôtel de Crillon, de Pierre-Adrien Paris</h5>
                <img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/199496/471194/main-image" width="100%">
            </div>
        </div>

    </div>
    <div class="as_div_carte">
        <h2>Parcourez le Monde pour découvrir des oeuvres</h2>
        <div id="windy"></div>
        <div class="container">
    </div>

    </div>
</div>

{#    {{ dump(collection) }}#}
{#    <h1>{{ object.department }}</h1>#}
{#    <ul>#}
{#        <li>Role : {{ object.constituents.0.role }}</li>#}
{#        <li>Nom : {{ object.constituents.0.name }}</li>#}
{#    </ul>#}
{#    <img src="{{ object.primaryImage }}" />#}
{#    {% for webcam in webcams %}#}
{#        {{ webcam.title }}<br/>#}
{#    {% endfor %}#}

{% endblock %}
